<form id="searchform" method="get" action="/search">
Enter Prefix: 
<input id="key" type="text" name="key" />
<input type="submit" value="Go!" />
</form>

<div id="output">
	&nbsp;
	<!-- non blocking space -->
	<!-- this is an html comment -->
</div>

<script>
$(function() {
	// this is a javascript comment
	// calls for the css selector for key searchform, output, etc...
	$("#key").focus();  // give the id=key browser focus
	$("#searchform").submit(function() {
		// load is an ajax call to /search line 19 of app.rb . take the result and shove it into the object
		// ajax is when your javascript code goes browsing without you
		$("#output").load("/search", $("#key").serialize());
		//dig into the form, find the input whose id = key, grab the value that the user had typed in.
		return false;
	});
});
</script>

