<!DOCTYPE html>
<html>
	<head>
		<title>Derka Derka</title>
		<link rel="stylesheet" href="/me.css">
		<script src="/jquery-1.5.1.min.js"></script>    
	</head>
	<body>
		<div id="mainbox">
		Hello
		<%= yield %>
		</div>
	</body>
</html>